* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #01395E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent;

}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #2F3136;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: fit-content;
    width: 30%;
    padding: 40px;
}

/* left and right arrows  */
.arrow {
    border: none;
    background-color: transparent;
    color: white;
    position: absolute;
    height: 30px;
    width: 30px;
}

.arrow:hover {
    cursor: pointer;
}

.arrow.back {
    position: absolute;
    top: 45px;
    left: 10%;
}

.arrow.forward {
    position: absolute;
    top: 45px;
    right: 10%;
}

/* main form  */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-control-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* submit button  */
.submit-btn {
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    height: 40px;
    width: 30%;
    font-size: 1rem;
    background-color: #5865F2;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all .05s ease;
}

.submit-btn:hover {
    cursor: pointer;
}

.submit-btn:active {
    scale: 1.05;
}

/* individual input fields  */
.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

.form-control input {
    padding: 5px;
    height: 35px;
    width: 70%;
    font-size: 1rem;
    border: none;
    margin-left: 10px;
}

.form-control textarea {
    padding: 5px;
    height: 70px;
    width: 70%;
    font-size: 1rem;
    border: none;
}

.form-control.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control.image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-control.image input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    width: 200px;
}

/* Experience */
.form-control.date {
    display: flex;
    flex-direction: row;
}
.form-control.date input {
    width: 30%;
}

