* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #01395E;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    padding: 25px 35px 25px 35px;
    border-radius: 5px;
    background-color: #2F3136;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

form h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.35em;
}

form button {
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: #5865F2;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30%;
    transition: all .05s ease;
}

form button:hover {
    cursor: pointer;
}

form button:active {
    scale: 1.05;
}

.form-control-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px white dashed;
}

.form-control-container h1 {
    font-size: 1.1em;
    margin-top: 20px;
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-control input {
    border: none;
    height: 20px;
    width: 400px;
    padding: 5px;
}

.form-control textarea {
    border: none;
    width: 400px;
    padding: 5px;
}

.form-control.description {
    align-items: flex-start;
}

.form-control.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.form-control.image input {
    padding: 0px;
    width: 175px;
    height: fit-content;
}

.form-control.date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control.date input {
    width: fit-content;
    padding: 0px;
}



